In [1]:
# DS Basics
import numpy as np
import pandas as pd
import pandas_profiling
from pandas import Series, DataFrame
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
from math import sqrt

In [2]:
#SK Learn
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier

In [3]:
# estimators
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn import linear_model
from sklearn.svm import SVR

In [4]:
# model metrics
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split

In [7]:
# reading df as csv with csv file
# reading header names as main header instead of the Xs
safety = pd.read_csv('C2T4_safety_metrics.csv')
safety

,Level 3 Area,Cost Center Name,Well Customer,Month,Year,Safety Observation Card Count,Near Miss (NM),Environmental (ENV) Incident Count,Property/ Equipment Damage (EQP DMG) Incident Count,First Aid Cases (FAC),...,Lost Time Incident (LTI),Fatality (FTL),Total Recordable Cases (TTL REC),Total Class 1 Incidents,Class 1 Incident Rate (C1IR),Total Recordable Incident Rate (TRIR),Lost Time Incident Rate (LTIR),Total Hurt Rate (THR),Work Hours,Count of STARs
0,Northern USA,0,NaN,2020-JAN,2020,0,0,0,0,0,...,0,0,0,0,0.0,0,0.0,0,5059.75,0
1,Northern USA,0,NaN,2020-FEB,2020,0,0,0,0,0,...,0,0,0,0,0.0,0,0.0,0,4320.75,0
2,Northern USA,0,NaN,2020-MAR,2020,0,0,0,0,0,...,0,0,0,0,0.0,0,0.0,0,4671.00,0
3,Northern USA,0,NaN,2020-APR,2020,0,0,0,0,0,...,0,0,0,0,0.0,0,0.0,0,3599.50,0
4,Northern USA,0,NaN,2020-MAY,2020,0,0,0,0,0,...,0,0,0,0,0.0,0,0.0,0,2745.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12236,NDS-US,TRWWT,NaN,2020-MAY,2020,0,0,0,0,0,...,0,0,0,0,0.0,0,0.0,0,102.50,0
12237,NDS-US,TRWWT,NaN,2020-JUN,2020,0,0,0,0,0,...,0,0,0,0,0.0,0,0.0,0,17.50,0
12238,NDS-US,TRWWT,NaN,2020-AUG,2020,0,0,0,0,0,...,0,0,0,0,0.0,0,0.0,0,2.50,0
12239,NDS-US,TRWWT,NaN,2021-MAR,2021,0,0,0,0,0,...,0,0,0,0,0.0,0,0.0,0,14.50,0
12240,NDS-US,TRWWY,NaN,2020-JAN,2020,0,0,0,0,0,...,0,0,0,0,0.0,0,0.0,0,9.00,0

In [9]:
safety.describe()

,Year,Near Miss (NM),Environmental (ENV) Incident Count,Property/ Equipment Damage (EQP DMG) Incident Count,First Aid Cases (FAC),Medical Treatment Only (MTO),Restricted Work Case (RWC),Lost Time Incident (LTI),Fatality (FTL),Total Recordable Cases (TTL REC),Total Class 1 Incidents,Class 1 Incident Rate (C1IR),Lost Time Incident Rate (LTIR),Work Hours,Count of STARs
count,12241.000000,12241.000000,12241.000000,12241.000000,12241.000000,12241.000000,12241.000000,12241.000000,12241.000000,12241.000000,12241.000000,9432.000000,9432.000000,12241.000000,12241.000000
mean,2020.421452,3.382322,0.013561,0.048934,0.049424,0.004575,0.003921,0.001144,0.000163,0.009803,0.000490,0.037955,0.109220,3393.842286,13.437056
std,0.493812,9.933631,0.130906,0.255285,0.246064,0.067485,0.062500,0.033801,0.012782,0.098528,0.022135,1.629304,3.622887,5852.651482,48.666935
min,2020.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2020.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,21.000000,0.000000
50%,2020.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,811.000000,0.000000
75%,2021.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4315.500000,4.000000
max,2021.000000,130.000000,3.000000,6.000000,4.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,102.070000,242.720000,80626.000000,968.000000

In [11]:
# showing value types prior data clean up
safety.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12241 entries, 0 to 12240
Data columns (total 22 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Level 3 Area                                         12241 non-null  object
 1   Cost Center Name                                     12241 non-null  object
 2   Well Customer                                        3782 non-null   object
 3   Month                                                12241 non-null  object
 4   Year                                                 12241 non-null  int64
 5   Safety Observation Card Count                        12241 non-null  object
 6   Near Miss (NM)                                       12241 non-null  int64
 7   Environmental (ENV) Incident Count                   12241 non-null  int64
 8   Property/ Equipment Damage (EQP DMG) Incident Count  12241 non-null  int64
 9   First Aid Cases (FAC)                                12241 non-null  int64
 10  Medical Treatment Only (MTO)                         12241 non-null  int64
 11  Restricted Work Case (RWC)                           12241 non-null  int64
 12  Lost Time Incident (LTI)                             12241 non-null  int64
 13  Fatality (FTL)                                       12241 non-null  int64
 14  Total Recordable Cases (TTL REC)                     12241 non-null  int64
 15  Total Class 1 Incidents                              12241 non-null  int64
 16  Class 1 Incident Rate (C1IR)                         9432 non-null   float64
 17  Total Recordable Incident Rate (TRIR)                9432 non-null   object
 18  Lost Time Incident Rate (LTIR)                       9432 non-null   float64
 19  Total Hurt Rate (THR)                                9432 non-null   object
 20  Work Hours                                           12241 non-null  float64
 21  Count of STARs                                       12241 non-null  int64
dtypes: float64(3), int64(12), object(7)
memory usage: 2.1+ MB

In [14]:
# I would like to know what columns dropped
safety = safety.drop_duplicates()
safety.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12241 entries, 0 to 12240
Data columns (total 22 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Level 3 Area                                         12241 non-null  object
 1   Cost Center Name                                     12241 non-null  object
 2   Well Customer                                        3782 non-null   object
 3   Month                                                12241 non-null  object
 4   Year                                                 12241 non-null  int64
 5   Safety Observation Card Count                        12241 non-null  object
 6   Near Miss (NM)                                       12241 non-null  int64
 7   Environmental (ENV) Incident Count                   12241 non-null  int64
 8   Property/ Equipment Damage (EQP DMG) Incident Count  12241 non-null  int64
 9   First Aid Cases (FAC)                                12241 non-null  int64
 10  Medical Treatment Only (MTO)                         12241 non-null  int64
 11  Restricted Work Case (RWC)                           12241 non-null  int64
 12  Lost Time Incident (LTI)                             12241 non-null  int64
 13  Fatality (FTL)                                       12241 non-null  int64
 14  Total Recordable Cases (TTL REC)                     12241 non-null  int64
 15  Total Class 1 Incidents                              12241 non-null  int64
 16  Class 1 Incident Rate (C1IR)                         9432 non-null   float64
 17  Total Recordable Incident Rate (TRIR)                9432 non-null   object
 18  Lost Time Incident Rate (LTIR)                       9432 non-null   float64
 19  Total Hurt Rate (THR)                                9432 non-null   object
 20  Work Hours                                           12241 non-null  float64
 21  Count of STARs                                       12241 non-null  int64
dtypes: float64(3), int64(12), object(7)
memory usage: 2.1+ MB

In [27]:
# re naming columns
safety = safety.rename(columns = {'Safety Observation Card Count':'SOCC'})
safety = safety.rename(columns = {'Near Miss (NM)':'NM'})
safety = safety.rename(columns = {'Environmental (ENV) Incident Count':'ENV'})
safety = safety.rename(columns = {'Property/ Equipment Damage (EQP DMG) Incident Count':'EQP'})
safety = safety.rename(columns = {'First Aid Cases (FAC)':'FAC'})
safety = safety.rename(columns = {'Medical Treatment Only (MTO)':'MTO'})
safety = safety.rename(columns = {'Restricted Work Case (RWC)':'RWC'})
safety = safety.rename(columns = {'Lost Time Incident (LTI)':'LTI'})
safety = safety.rename(columns = {'Fatality (FTL)':'FTL'})
safety = safety.rename(columns = {'Total Recordable Cases (TTL REC)':'REC'})
safety = safety.rename(columns = {'Total Class 1 Incidents':'CL1'})
safety = safety.rename(columns = {'Class 1 Incident Rate (C1IR)':'C1IR'})
safety = safety.rename(columns = {'Total Recordable Incident Rate (TRIR)':'TRIR'})
safety = safety.rename(columns = {'Lost Time Incident Rate (LTIR)':'LTIR'})
safety = safety.rename(columns = {'Total Hurt Rate (THR)':'THR'})
safety = safety.rename(columns = {'Count of STARs':'STARC'})

In [26]:
# replacing nans
safety['Well Customer'] = safety['Well Customer'].fillna(0)
safety['C1IR'] = safety['C1IR'].fillna(0)
safety['TRIR'] = safety['TRIR'].fillna(0)
safety['LTIR'] = safety['LTIR'].fillna(0)
safety['THR'] = safety['THR'].fillna(0)

In [29]:
#SOCC, TRIR, THR shown as object, should be int
safety.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12241 entries, 0 to 12240
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Level 3 Area      12241 non-null  object
 1   Cost Center Name  12241 non-null  object
 2   Well Customer     12241 non-null  object
 3   Month             12241 non-null  object
 4   Year              12241 non-null  int64
 5   SOCC              12241 non-null  object
 6   NM                12241 non-null  int64
 7   ENV               12241 non-null  int64
 8   EQP               12241 non-null  int64
 9   FAC               12241 non-null  int64
 10  MTO               12241 non-null  int64
 11  RWC               12241 non-null  int64
 12  LTI               12241 non-null  int64
 13  FTL               12241 non-null  int64
 14  REC               12241 non-null  int64
 15  CL1               12241 non-null  int64
 16  C1IR              12241 non-null  float64
 17  TRIR              12241 non-null  object
 18  LTIR              12241 non-null  float64
 19  THR               12241 non-null  object
 20  Work Hours        12241 non-null  float64
 21  STARC             12241 non-null  int64
dtypes: float64(3), int64(12), object(7)
memory usage: 2.1+ MB

In [31]:
safety['SOCC'].astype(object).astype(int)

ValueError: invalid literal for int() with base 10: '1,041'